#screenshots {
   
    .best-app-wrap {
        padding-bottom: 0;

        img {
            height: 70vh;
        }

        .text-wrap {
            height: 70vh;
            padding-top: 5vh;
        }
    }
}