#testimonials {
    background-color: rgba(240,240,240,1);
    padding: 80px 0;

    .blockquote {
        min-width: 40vw;
    }
    .rounded-circle {
        width: 100px !important;
    }
    .author {
        margin: 30px 0;
    }
}