<section id="testimonials" class="content-container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slide of quotes">
      <div fxLayout="column">
        <div fxLayoutAlign="center center">
          <div
            fxFlex="60"
            fxFlex.fxShow.lt-sm="100"
            fxLayout="row"
            fxLayoutAlign="space-around center"
          >
            <div fxLayoutAlign="start" class="position-relative">
              <blockquote fadeScrollAnimate class="text-center lead blockquote">
                {{ slide.quote }}
              </blockquote>
            </div>
          </div>
        </div>
        <div
          fxFlex
          fxLayoutAlign="center center"
          fxLayout="column"
          fadeScrollAnimate
          style="margin-top: 10px"
        >
          <img
            width="100"
            height="100"
            class="rounded-circle"
            [src]="slide.avatar"
          />
          <div class="author">
            {{ slide.author }}
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
