<section id="design" class="content-container" style="background-color: rgba(240,240,240,1)">
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <h2 fadeScrollAnimate>{{ header }}</h2>

    <div style="height: 4px; width: 40px; background: #72b4b6"></div>
    <p class="text-center lh-175 lead" fadeScrollAnimate>
      {{ subHeader1 }}<br />
      {{ subHeader2 }}
    </p>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between center" style="margin-top: 30px">
    <img class="design-image" [src]="phoneImg" moveScrollAnimate [offset]="500" />
  </div>
</section>
