<section id="about">
  <div class=" about-container" fxLayout="row" fxLayout.xs="column">
    <div class="background-media" [style.transform]="'translateY(' + scrollTop + 'px)'"></div>
    <div
      fxFlex="60"
      fxFlex.xs="100"
      fxLayoutAlign="space-around center"
      fxLayoutAlign.md="space-around center"
      fxLayoutAlign.xs="space-between center"
      style="height: 100vh;"
    >
      <div class="text-white about-content">
        <h1 fadeScrollAnimate class="light super" [offset]="10000" style="margin-bottom: 2rem;">
          {{ header }}
        </h1>
        <h3 fadeScrollAnimate class="bigger light" [offset]="10000" style="line-height: 3rem;">
          {{ subHeader1 }}<br />
          {{ subHeader2 }}
        </h3>
        <button
          mat-raised-button
          color="white"
          class="rounded"
          style="font-size: 20px;"
          fadeScrollAnimate
          [offset]="10000"
        >
          {{ iphone }}
          <mat-icon fontSet="fab" fontIcon="fa-apple"></mat-icon>
        </button>
        <button
          mat-raised-button
          class="rounded mx-4 text-white"
          color="primary"
          fadeScrollAnimate
          [offset]="10000"
          style="font-size: 20px;"
        >
          {{ android }}
          <mat-icon fontSet="fab" fontIcon="fa-android"></mat-icon>
        </button>
      </div>
    </div>
    <div
      fxLayoutAlign="flex-end center"
      fxLayoutAlign.xs="space-around center"
      style="height: 100vh"
    >
      <div class="about-phone">
        <img src="/assets/images/phone.png" class="phone-img" moveScrollAnimate [offset]="500" />
      </div>
    </div>
  </div>
</section>
