<section id="features">
  <div class="content bg-white content-container">
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <h2 moveScrollAnimate>{{ header }}</h2>
      <div class="divider mt-20 mb-20"></div>
      <p class="text-center lh-175 lead mb-20" fadeScrollAnimate>
        {{ subHeader1 }}<br />
        {{ subHeader2 }}
      </p>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center">
      <div fxFlex="5"></div>
      <div fxFlex="30" fxLayout="column" fxLayoutAlign="center">
        <app-feauture-item *ngFor="let item of leftColContent" [item]="item" ></app-feauture-item>
      </div>
      <div>
        <img [src]="phoneImg" moveScrollAnimate [offset]="400" />
      </div>
      <div fxFlex="30" fxLayout="column" fxLayoutAlign="center">
        <app-feauture-item *ngFor="let item of rightColContent" [item]="item" [isReverse]="true"></app-feauture-item>
      </div>
      <div fxFlex="5"></div>
    </div>
  </div>
</section>
